@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400&family=Instrument+Sans:wght@400&display=swap');

@import "tailwindcss";


.font-[island] {
  font-family: 'Island Moments', cursive;
}